.chatList{
  display: flex;
  flex-direction: column;
  height: 100%;
  
  
  

  hr{
    border: none;
    height: 2px;
    background-color: #ddd;
    opacity: 0.1;
    border-radius: 5px;
    margin: 20px 0px;
  }

  .title{
    font-weight: 600;
    font-size: 10px;
    margin-bottom: 10px;
    color: #B9B4C7;
    font-family: "Press Start 2P", system-ui;
    
    font-style: normal
  }

  .list {
    display: flex;
    flex-direction: column;
    overflow-y: scroll; /* Ensure vertical scrolling */
    scrollbar-width: none; /* For Firefox */
    -ms-overflow-style: none;
      /* For Internet Explorer and Edge */
}

/* Hide scrollbar for WebKit-based browsers (Chrome, Safari) */
.list::-webkit-scrollbar {
    display: none;
}

a{
  padding: 10px;
  border-radius: 10px;

  &:hover{
    background-color: #3A4750;
  }
}

.upgrade{
  margin-top: auto;
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 12px;

  img{
    width: 24px;
    height: 24px;
  }

  .text{
    display:flex;
    flex-direction:column;

    span{
      &:first-child {
        font-weight: 600;
        color: #B9B4C7;
      }
      &:last-child {
        color: #888;
      }
    }
  }
}
}